openapi: 3.0.0
info:
  title: My API
  version: 1.0.0
servers:
  - url: https://wss1.mtsp.co.in:16107
paths:
  /connect/login:
    post:
      summary: Login Endpoint
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                api_key:
                  type: string
                api_secrets:
                  type: string
      parameters:
        - name: Api-Version
          in: header
          required: true
          schema:
            type: string
          example: '3'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                message: User was logged in successfully
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                message: Invalid unique key provided by user.
    delete:
      tags:
        - default
      summary: LOGOUT
      security:
        - ApiKeyAuth: []
      parameters:
        - name: Api-Version
          in: header
          schema:
            type: integer
          example: '3'
      responses:
        '200':
          description: Logout Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Logout successful. You have been logged out."
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized: API key missing or invalid."
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal Server Error: Something went wrong on the server side."
  /session/token:
    get:
      tags:
        - default
      summary: Session_Token
      security:
        - ApiKeyAuth: []
      parameters:
        - name: Api-Version
          in: header
          schema:
            type: integer
          example: '3'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: "ApiKey:TokenKey"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized: API key missing or invalid."
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal Server Error: Something went wrong on the server side."
  /user/profile:
    get:
      tags:
        - default
      summary: User_Profile
      security:
        - ApiKeyAuth: []
      parameters:
        - name: Api-Version
          in: header
          schema:
            type: integer
          example: '3'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    example: "john_doe"
                  email:
                    type: string
                    example: "john@example.com"
                  full_name:
                    type: string
                    example: "John Doe"
                  age:
                    type: integer
                    example: 30
                  bio:
                    type: string
                    example: "Software Engineer"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized: API key missing or invalid."
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal Server Error: Something went wrong on the server side."

  /user/margins:
    get:
      tags:
        - default
      summary: User_Margin
      security:
        - ApiKeyAuth: []
      parameters:
        - name: Api-Version
          in: header
          schema:
            type: integer
          example: '3'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_margin:
                    type: number
                    example: 10000.00
                  available_margin:
                    type: number
                    example: 5000.00
                  used_margin:
                    type: number
                    example: 5000.00
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized: API key missing or invalid."
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal Server Error: Something went wrong on the server side."

  /orders/regular:
    post:
      tags:
        - default
      summary: Orders_Regular
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                tradingsecurity:
                  type: integer
                  example: '3045'
                exchange:
                  type: string
                  example: NSECM
                transaction_type:
                  type: string
                  example: BUY
                order_type:
                  type: string
                  example: LIMIT
                quantity:
                  type: integer
                  example: '100000'
                validity:
                  type: string
                  example: DAY
                price:
                  type: integer
                  example: '510'
                product_type:
                  type: string
                  example: CNC
      parameters:
        - name: Api-Version
          in: header
          schema:
            type: integer
          example: '3'
      responses:
        '200':
          description: Successful order placement
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: string
                    example: "ORD123456"
                  message:
                    type: string
                    example: "Order placed successfully."
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized: API key missing or invalid."
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Bad Request: Invalid request parameters."
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal Server Error: Something went wrong on the server side."

  /orders/regular/2:
    put:
      tags:
        - default
      summary: Orders_Modify_Quantity
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                order_type:
                  type: string
                  example: 'MARKET   '
                quantity:
                  type: integer
                  example: '5'
                validity:
                  type: string
                  example: DAY
                price:
                  type: integer
                  example: '500'
      parameters:
        - name: Api-Version
          in: header
          schema:
            type: integer
          example: '3'
      responses:
        '200':
          description: Successful order modification
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: string
                    example: "ORD123457"
                  message:
                    type: string
                    example: "Order quantity modified successfully."
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized: API key missing or invalid."
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Bad Request: Invalid request parameters."
        '404':
          description: Order Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Order Not Found: The specified order does not exist."
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal Server Error: Something went wrong on the server side."
  /orders/regular/1:
    put:
      tags:
        - default
      summary: Orders_Regular_MARKET
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                order_type:
                  type: string
                  example: MARKET
      parameters:
        - name: Api-Version
          in: header
          schema:
            type: integer
          example: '3'
      responses:
        '200':
          description: Successful order update
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: string
                    example: "ORD123458"
                  message:
                    type: string
                    example: "Order updated to MARKET type successfully."
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized: API key missing or invalid."
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Bad Request: Invalid request parameters."
        '404':
          description: Order Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Order Not Found: The specified order does not exist."
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal Server Error: Something went wrong on the server side."
    delete:
      tags:
        - default
      summary: Orders_Regular_CANCEL
      security:
        - ApiKeyAuth: []
      parameters:
        - name: Api-Version
          in: header
          schema:
            type: integer
          example: '3'
      responses:
        '200':
          description: Successful order cancellation
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: string
                    example: "ORD123458"
                  message:
                    type: string
                    example: "Order canceled successfully."
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized: API key missing or invalid."
        '404':
          description: Order Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Order Not Found: The specified order does not exist."
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal Server Error: Something went wrong on the server side."
  /trades:
    get:
      tags:
        - default
      summary: TRADE
      security:
        - ApiKeyAuth: []
      parameters:
        - name: Api-Version
          in: header
          schema:
            type: integer
          example: '3'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    trade_id:
                      type: string
                      example: "TRD123456"
                    symbol:
                      type: string
                      example: "AAPL"
                    quantity:
                      type: integer
                      example: 100
                    price:
                      type: number
                      example: 150.25
                    timestamp:
                      type: string
                      format: date-time
                      example: "2024-02-07T12:30:45Z"
                    status:
                      type: string
                      example: "filled"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized: API key missing or invalid."
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal Server Error: Something went wrong on the server side."
  /instruments:
    get:
      tags:
        - default
      summary: Instrument
      security:
        - ApiKeyAuth: []
      parameters:
        - name: Api-Version
          in: header
          schema:
            type: integer
          example: '3'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    instrument_id:
                      type: string
                      example: "INS123456"
                    name:
                      type: string
                      example: "AAPL"
                    type:
                      type: string
                      example: "Stock"
                    exchange:
                      type: string
                      example: "NYSE"
                    currency:
                      type: string
                      example: "USD"
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization